[Unit]
Description=QEMU Morello Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=cheri
Group=cheri
ExecStart=/output/sdk/bin/qemu-system-morello \
    -M virt,gic-version=3 -cpu morello \
    -bios edk2-aarch64-code.fd \
    -smp cores=1,threads=4,sockets=1 -m 4096 -nographic \
    -drive if=none,file=/output/cheribsd-morello-purecap.zfs.qcow2,id=drv0,format=qcow2 \
    -device virtio-blk-pci,drive=drv0 \
    -drive if=none,file=/output/jailroot-disk.zfs.qcow2,id=drv1,format=qcow2 \
    -device virtio-blk-pci,drive=drv1 \
    -device virtio-net-pci,netdev=net0 \
    -netdev user,id=net0,hostfwd=tcp::10005-:22 \
    -device virtio-rng-pci
ExecStop=/bin/kill $MAINPID
Restart=on-failure
StandardOutput=append:/var/log/qemu-morello.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
